#feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  min-width: 28em;
  font-family: inherit;
  border-radius: 8px;
  margin: 20px auto;
  gap: 0.5em;
}

article {
  align-self: center;
  background-color: #fff;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 8px;
  border: solid black;
  width: 90%;
}

article header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  width: 90%;
  height: 25%;
  color: #545149;
  background-color: #fff;
  background-image: none;
}

article p {
  padding: 1em;
  font-weight:bold;
  border-bottom: solid black;
  word-wrap: break-word;
}

article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article:hover {
  box-shadow:5px 5px lightgrey;
}

.icons {
  display: flex;
  gap: 0.2em;
  color: #4056a1;
}

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color: rgb(255, 217, 0);
}

.user {
  display: flex;
  gap: 0.4em;
  align-items: center;
  justify-self: flex-start;
}