header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 120px;
}

#photo {
  width: 10em;
  height: 12em;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@media only screen and (min-width: 1024px) {

  #bodyHeader {
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 180px;
    margin-left: 4em;
    align-self: flex-start;
    width: 20em;
    height: 18em;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #4056A1;
    background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  }
}

@media only screen and (max-width: 1023px) {
  #bodyHeader {
    height: 190px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
    z-index: 100;
  }
}