nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  height: 120px;
  width: 100vw;
  padding: 1.5em;
}

a.nav-tweet:link, a.nav-tweet:visited {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 1024px) {
  nav {
    z-index: 100;
  }
}

@media only screen and (max-width: 1023px) {
  nav {
    z-index: 0;
  }
}