.new-tweet {
  min-width: 22em;
  font-family: inherit;
  padding: 1em 2em;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
  width: 50%;
}

.tweet-text {
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  min-height: 3em;
  font-size: 16px;
  border: none;
  border-bottom: solid black;
  resize: none;
  outline: none;
}

.counter {
  padding-top: 0.25em;
  font-family: "Bungee", sans-serif;
}

.formUpper {
  display: flex;
  justify-content: space-between;
}

.fa-xmark {
  color: #545149;
}

.fa-xmark:hover {
  color: red;
}

.formBottom {
  display: flex;
  justify-content: space-between;
}

#send-tweet {
  font-family: "Bungee", sans-serif;
  color: #FFFFFF;
  background-color: #000000;
  margin-top: 4px;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
}

#send-tweet:hover {
  background-color: #333;
  cursor: pointer;
}