.new-tweet {
  min-width: 22em;
  font-family: inherit;
  padding: 1em 2em;
  background-color: #fff;
  border-radius: 8px;
  margin: 20px auto;
}

.tweet-text {
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  min-height: 3em;
  font-size: 16px;
  border: none;
  border-bottom: solid black;
  resize: none;
  outline: none;
}

.send-tweet {
  font-family: "Bungee", sans-serif;
  color: #FFFFFF;
  background-color: #000000;
  margin-top: 4px;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
}

.counter {
  padding-top: 0.25em;
  font-family: "Bungee", sans-serif;
}

.formBottom {
  display: flex;
  justify-content: space-between;
}

#send-tweet[aria-disabled="true"],
#send-tweet[disabled] {
  background-color: lightslategray;
}

@media only screen and (min-width: 1024px) {
  .new-tweet {
    width: 50%;
  }
}